<h1 class="text-center mt-4">Article list</h1>

  <div id="articles">
    <% @articles.each do |article| %>
      <%= render article %>
      
    <% end %>
  </div>

<%= link_to "New article", new_article_path %>
