
<h1>Articles</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>

  <div id="articles">
    <% @articles.each do |article| %>
      <%= render article %>
      
    <% end %>
  </div>

  </tbody>
</table>
<%= link_to "New article", new_article_path %>


